#############################################################
#
# Configuration presets for mail processors.
# See the mail section in the quickstart guide about how to get
# started here
#
#############################################################

#############################################################
# Create incoming events from mails according to the definitions
# in default.filter
#############################################################
[mail-default]
class:transformer
type:mail
rules: /usr/local/edbc/etc/mail/default.filter


##############################################################
# Receptor that receives mail events via a pipe and
# formats them with the default mail formatter
##############################################################
[mail-receptor]
class:receptor
type:pipe
path:/var/lib/edbc-mail.pipe
format:@mail-default

##############################################################
# Aggregation rules for the mail events
##############################################################
[mail-aggregator]
class:processor
type:multiaggregator
config: /usr/local/edbc/etc/rules/mail.rules
datasource: @mysql
