
[syslog_reader]
class:transformer
type:string
format:^(?P<MODIFIED>[a-zA-Z]{2,3} \d+ \d+:\d+:\d+) (?P<HOST>\w+) (?P<PROGRAM>\w+): (?P<MESSAGE>.*)$
fixed: Priority=3,Facility=5

[simple_pipe_in]
class:transformer
type:string
format:^(?P<MESSAGE>.*)$
fixed: Priority=3,Facility=5,program=self
	
[snmp_reader]
class: transformer
type:string
format:^(?P<MESSAGE>.*)$
fixed: Priority=3,Facility=5,program=snmp


#
# Define all receptors (i.e. event inputs) you'd like to use here
#

[pipe]
class:receptor
type:pipe
path:/tmp/edbc2.pipe
format:@simple_pipe_in

[snmp]
class:receptor
type:snmp
handler:/usr/local/edbc/bin/edbc_snmp_handler
format:@snmp_reader